@import 'basics.less';

.app {
  font-family: verdana;
  h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }
  p {
    font-size: 16px;
    margin: 0 0 20px 0;
  }
  .form_container {
    margin: 0 0 20px 0;
    .input_container {
      margin: 0 4px 0 4px;
      vertical-align: top;
      @media all and (min-width: 450px) {
        display: inline-block;
      }
      input {
        border: 1px solid #ccc;
        box-sizing: border-box;
        display: inline-block;
        font-family: verdana;
        font-size: 22px;
        font-weight: 700;
        height: 40px;
        margin: 0 0 3px 0;
        padding: 0 0 0 15px;
        text-align: center;
        @media all and (max-width: 450px) {
          padding: 0;
        }
        &.month_input,
        &.day_input {
          width: 80px;
          @media all and (max-width: 450px) {
            width: 100%;
          }
        }
        &.year_input {
          width: 150px;
          @media all and (max-width: 450px) {
            width: 100%;
          }
        }
      }
      .label {
        font-size: 12px;
        margin: 0 0 10px 0;
        text-align: center;
      }
    }
    .submit_container {
      button {
        background-color: #ccc;
        border: 0;
        cursor: pointer;
        font-family: verdana;
        font-size: 20px;
        font-weight: 700;
        outline: none;
        padding: 10px 15px;
        &:disabled {
          cursor: default;
          font-weight: 400;
          opacity: 0.5;
        }
      }
    }
  }
  .result_container {
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin: 0 0 20px 0;
    }
    .counter_container {
      margin: 0 0 20px 0;
      .counter_value {
        color: #000;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        @media all and (max-width: 450px) {
          font-size: 33px;
        }
      }
    }
    .chart_container {
      margin: 0 0 20px 0;
      max-width: 600px;
    }
  }
  .meta_container {
    font-size: 12px;
    margin: 0 0 20px 0;
    a {
      color: #000;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}